addons/** filter=lfs diff=lfs merge=lfs -text
bin/** filter=lfs diff=lfs merge=lfs -text
licenses/** filter=lfs diff=lfs merge=lfs -text
/system/bin/** filter=lfs diff=lfs merge=lfs -text
/system/ssl/openssl/** filter=lfs diff=lfs merge=lfs -text
/user/browscap/** filter=lfs diff=lfs merge=lfs -text
/user/geo/** filter=lfs diff=lfs merge=lfs -text
/system/public_html/dist/** filter=lfs diff=lfs merge=lfs -text
/system/public_html/plugins/** filter=lfs diff=lfs merge=lfs -text
/resources/php_bundle/** filter=lfs diff=lfs merge=lfs -text
/resources/php_addons/** filter=lfs diff=lfs merge=lfs -text
/modules/** filter=lfs diff=lfs merge=lfs -text
/modules/*/ospanel_data/** filter= diff= merge= text
/modules/*/Nginx*/conf/** filter= diff= merge= text
/addons/*/ospanel_data/** filter= diff= merge= text